<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.map }}<li><a target="_blank" href="https://www.google.com/maps/dir//BlueJay+%26+Nuthatch+Pavilion+at+Seneca+Creek+State+Park,+North+Potomac,+MD+20878/@39.1454657,-77.3016072,12.96z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89b62d1cac1ea54b:0xe8b300e63c8fe0cd!2m2!1d-77.2662248!2d39.141242!3e0?entry=ttu" class="icon solid style2 fa-map"><span class="label">Directions</span></a></li>{{end}}
        </ul>
        <p>
            <span class="footerspacer icon fa-diamond"></span>
            Come for the Woo
            <span class="footerspacer icon fa-diamond"></span>
            Stay for the Hah
            <span class="footerspacer icon fa-diamond"></span>
        </p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}